registry=https://registry.npmjs.org/
strict-ssl=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-maxtimeout=60000
fetch-retry-mintimeout=1000
audit=false
fund=false
strict-peer-dependencies=false
shamefully-hoist=true
prefer-offline=true
